<!DOCTYPE html>
<html lang="en">
<head>
    <title>Singapore Finance Page</title>
    <link href="../style.css" rel="stylesheet" />
    <!--Bootstrap core CSS-->
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
            crossorigin="anonymous"
    />
    <meta
            name="description"
            content="A finance page covering topics related to finance in Singapore"
    />
    <meta name="keywords" content="angelhack finance singapore" />
    <meta charset="utf-8" />
    <!-- this sets the width of the page to follow screen-width of device, and sets the initial zoom level when page is first loaded-->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
<!-- bootstrap requires a containing element to wrap site contents in the grid system-->
<!-- this creates a responsive full-width page-->
<div class="container-fluid bootstrap-override">
    <!--NavBar-->
    <nav
            class="navbar navbar-expand-lg navbar-light bg-light sticky-top navbar-override"
    >
        <a class="navbar-brand" href="/">Singapore Finance Page</a>
        <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="/" onclick="home()">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Help</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </div>
        <% if (!user) { %>
            <!--Profile pic with link to login.html if user is logged out-->
            <a href="/login">
                <img
                        class="float-right profileicon"
                        src="../img/profilepic2.png"
                        alt=""
                        width="47"
                        height="40"
                />
            </a>
        <% } else { %>
            <!-- Remove everything in this else block when we have a proper logout and profile icon -->
            <div class="d-flex align-items-center">
                <p class="mb-0" style="margin-right: 5px"><%= user.username %></p>
                <!-- If not logged in show them the signout button (TODO)-->
                <form action="/logout" method="post">
                    <input
                            class="logout"
                            type="image"
                            src="../img/icons8-logout-50.png"
                            onmouseover="this.src='../img/icons8-logout.gif'"
                            onmouseout="this.src='../img/icons8-logout-50.png'"
                    />
                </form>
            </div>
        <% } %>
    </nav>
    <!-- End of top navbar-->
    <main id="main">
        <!-- Side navbar, use list items for each topic-->
        <div class="wrapper">
            <nav id="sidebar" class="navbar-light bg-light">
                <ul class="list-unstyled components">
                    <p id="nav-header">Navigation</p>
                    <li class="active">
                        <a
                                href="#homeSubmenu"
                                data-bs-toggle="collapse"
                                aria-expanded="false"
                                class="dropdown-toggle"
                        >Basics</a
                        >
                        <ul class="collapse list-unstyled" id="homeSubmenu">
                            <li>
                                <a href="/topic1" id="budgeting"
                                >Basic Financial Literacy 101</a
                                >
                            </li>
                            <li>
                                <a href="/topic2" id="income-and-expenses"
                                >Investing for dummies</a
                                >
                            </li>
                            <li>
                                <a href="/topic3" id="saving">Scams</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <button
                        type="button"
                        class="btn btn-secondary"
                        onclick="backToTop()"
                >
                    Back to top
                </button>
            </nav>
        </div>
        <!-- End of side navbar, start of displayed contents-->
        <div class="container-fluid bootstrap-override" id="right-container">
            <div class="container-fluid m-0 pl-4 pr-4 pt-1" id="content">
                <h2><strong>Basic Financial Literacy 101</strong></h2>
                <div class="line"></div>
                <h3>Introduction</h3>
                <p> As university students, when we finally get full autonomy over our life, many of us run amok
                    with our lifestyle, going clubbing, having regular tea breaks at <em>atas</em> cafes or even having a daily cup of
                    bubble tea! For now, wanton spending does not have much negative repercussions.
                    <br><br>
                    However, it is important to cultivate proper money management from young so that we are able to
                    control and spend within our means, so that we do not face instances in the future where we are lacking
                    the funds for something we really want or need. We can start with learning how to <b>budget</b>,
                    then how to <b> save</b>, and finally how to start <b> investing </b>. The latter 2 will be covered in
                    this topic whilst investing will be in another one on its own.

              </p>
                <div class="line"></div>
                <h3>How to budget</h3>
                <p>The first step in budgeting is knowing the allocation % of your income (or allowance) between necessities, wants
                and savings. This allocation can differ from individuals to individuals, but a 50/30/20 rule is usually advised
                where 50% is used for expenses, 30% is allocated for lifestyle activities and 20% towards savings and investments.
                It would be good to identify what are your future goals, such like paying off loans, having a safety
                net and any other relevant ones to motivate you to keep to your planned budget. </p>
                <div class="d-flex justify-content-center">
                    <img style="width:25%" src="https://img.buzzfeed.com/buzzfeed-static/static/2021-04/17/1/asset/21e91fced15a/sub-buzz-16544-1618621303-8.jpg">
                </div>
                <h5>Tracking Your Expenses</h5>
                <p>Now, that we have our budget, we have to follow it, by keeping track of what we have spent thus far
                    and what is left. There are numerous apps and tools available to simplify expense
                    tracking. For instance:</p>
                <ol>
                    <li><a href='https://www.spendee.com/'>Spendee</a>: This intuitive expense tracker allows you to categorize your
                        spending, set budgets, and gain insights into your financial habits. </li>
                    <li><a href='https://www.pocketsmith.com/'>PocketSmith</a>: With PocketSmith, you can effortlessly track your
                        expenses, visualize your cash flow, and even forecast future financial scenarios. </li>
                    <li><a href='https://www.youneedabudget.com/'>YNAB (You Need a Budget)</a>: YNAB is a popular budgeting app that
                        focuses on providing a clear understanding of your money and helping you make informed financial decisions.</li>
                    <li><a href='https://toshl.com/'>Toshl Finance</a>: Toshl Finance is a feature-rich app that allows you to track
                        expenses, set budgets, and gain insights into your spending habits. It also integrates with various banks, making
                        expense tracking more convenient.</li>
                </ol>
                <div class="line"></div>
                <h3>How to save</h3>
                <p>After all the spending on both essentials and non-essentials, we are now left with some money that we can put
                    into our savings.
                    When looking for a place to park your savings, there are several factors that you want to consider, in
                    descending order of importance</p>
                <ol>
                    <li>Safety: You should have peace of mind that your money won't disappear suddenly. </li>
                    <li>Liquidity: You should be able to withdraw your money whenever you wish.</li>
                    <li>Interest rate: Your money accrues varying levels of interest based on where it is parked.</li>
                </ol>
                <p>As such, here are a few suggestions for where you can place them. Note that all of these options are
                SDIC insured, which means that in the event that these organisations declare bankruptcy, up to 75K is
                guaranteed to be intact. At our age, 75K is more than sufficient. </p>
                <ul>
                    <li><a href="https://trustbank.sg/savings-account/">TrustBank</a>: Mobile app that offers a 2.5% interest
                        on their savings account on the first $75K deposited, no lock-in period.
                    </li>
                    <li>
                        <a href="https://www.singlife.com/">Singlife</a>: Another
                        mobile app that offers a high-interest savings account of 3.5% (on promotion now for the first
                        $10k).</li>
                    <li>
                        <a href="https://www.ocbc.com/personal-banking/accounts/360-account">OCBC</a>,
                        <a href="https://www.dbs.com.sg/index/default.page">DBS</a>:
                        For those skeptical of mobile banks, there is nothing wrong with sticking with the old, trusthworty
                        establishments.
                    </li>
                </ul>
                <div class="line"></div>
                <h3>Summary</h3>
                <p>Congratulations on taking the first step towards financial independence and empowerment! By mastering the
                    art of budgeting, you're setting yourself up for a bright financial future. Remember, budgeting is a continuous
                    process that requires discipline and flexibility. Regularly review your budget, track your expenses, and make
                    adjustments as necessary. Explore the recommended tools and resources or find alternatives that suit your
                    preferences.</p>
                <p>(Note: The provided links are examples and may change or evolve over time. It's always recommended to do your
                    own research and choose the tools and resources that best fit your needs.)</p>
            </div>
            <!-- End of contents, start of comments-->

            <div class="container-fluid m-0 mt-2 pl-4 pr-4 pt-2" id="comments">
                <div class="line"></div>
                <!-- tell the user they need to login to comment-->
                <% if (!user) { %>
                    <textarea
                            class="form-control"
                            id="commentsBox"
                            rows="3"
                            placeholder="You have to be logged in to comment..."
                            disabled
                    ></textarea>
                    <button
                            type="submit"
                            class="btn btn-secondary"
                            id="postbtn"
                            disabled
                    >
                        POST COMMENT
                    </button>

                <% } else { %>

                    <form
                            style="margin-bottom: 15px"
                            action="/topic1/postComment"
                            method="post"
                    >
              <textarea
                      class="form-control"
                      id="commentsBox"
                      rows="3"
                      maxlength="300"
                      placeholder="Leave a comment..."
                      name="commentContent"
                      required
              ></textarea>
                        <!-- This input field represents which subtopic the user is currently on! -->
                        <input
                                type="hidden"
                                id="postDistinguisher"
                                name="postDist"
                                value="1"
                        />
                        <% const datetime = new Date(); const conv1 =
                          datetime.toLocaleString("en-SG", {hourCycle: "h23"}); const conv2 =
                          conv1.slice(0, 10).split("/"); const conv3 = conv1.slice(12, 20);
                          const conv4 = conv2[2] + "-" + conv2[1] + "-" + conv2[0] + " " +
                          conv3;%>
                        <input
                          type="hidden"
                          id="dateTracker"
                          name="dateTime"
                          value="<%=
                        conv4 %>"
                        />
                        <input
                                type="hidden"
                                id="nameTracker"
                                name="userPosted"
                                value="<%= user.username %>"
                        />
                        <button type="submit" class="btn btn-success" id="postbtn">
                            POST COMMENT
                        </button>
                    </form>
                <% } %>
                <div class="d-flex justify-content-between line">
                    <p
                            style="
                  margin-bottom: 9px;
                  position: relative;
                  top: 10px;
                  border-bottom: 2px solid #00b38f;
                "
                    >
                        <span><%=comments.length%></span> Comments
                    </p>
                    <div class="btn-group">
                        <% if (!sortingMethod) { %>
                            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Sort By
                            </button>
                            <% } else if (sortingMethod == "newest") {%>
                              <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Sorting By: Newest
                              </button>
                            <% } else if (sortingMethod == "oldest") { %>
                              <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Sorting By: Oldest
                              </button>
                            <% } else if (sortingMethod == "mostlikes") { %>
                              <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Sorting By: Most Likes
                              </button>
                            <% } else { %>
                              <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Sorting By: Fewest Likes
                              </button>
                            <% } %>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="/topic1/?sort=newest">Newest</a>
                          <a class="dropdown-item" href="/topic1/?sort=oldest">Oldest</a>
                          <a class="dropdown-item" href="/topic1/?sort=mostlikes">Most Likes</a>
                          <a class="dropdown-item" href="/topic1/?sort=fewestlikes">Fewest Likes</a>
                        </div>
                      </div>
                </div>
                <!-- Actual comments  -->
                <% var likeSet = new Set();
                if (!likedComments || likedComments.length == 0) {
                    //do nothing
                } else {
                    for (var i = 0; i < likedComments.length; i++) {
                        likeSet.add(likedComments[i].comment_id);
                    }
                }
                %>
                <div class="row d-flex justify-content-center">
                    <div class="col-md-12 col-lg-10 col-xl-8">
                      <% for (var i = 0; i < comments.length; i++) { %>
                      <div class="card" style="margin-bottom: 20px">
                        <div class="card-body">
                          <div>
                            <h6 class="fw-bold text-primary mb-1">
                              <%- comments[i].username %>
                            </h6>
                            <p class="text-muted small mb-0">
                              <%- comments[i].time_posted %>
                            </p>
                          </div>
                          <p class="mt-3 mb-4 pb-2"><%- comments[i].content %></p>
      
                          <div class="d-flex justify-content-end">
                            <% if (!user) { %>
                            <div class="d-flex">
                              <p><%- comments[i].likes %></p>
                              <img
                                id="fire"
                                src="../img/fire.png"
                                onclick="alert('You need to be logged in to like comments!')"
                              />
                            </div>
                            <% } else if (likeSet.has(comments[i].comment_id)) { console.log("user has liked"); %>
                              <!-- The user has liked the comment -->
                            <form method="POST" action="/topic1/likeComment" class="d-flex">
                              <p class="mb-0 likesCount"><%- comments[i].likes %></p>
                              <button
                                type="submit"
                                class="voteButton" />
                                <input
                                  type="hidden"
                                  name="comment_id"
                                  value="<%= comments[i].comment_id %>"
                                />
                                <input
                                  type="hidden"
                                  name="username"
                                  value="<%= user.username %>"
                                />
                                <input type="hidden" name="post_id" value="1" />
                                <img
                                    id="fire"
                                  src="../img/fire.png"
                                  alt="vote"
                                  class="fireimg" />
                              </button>
                            </form>
                            <% } else { console.log("user has not liked");%>
                              <!-- The user has NOT liked the comment -->
                            <form method="POST" action="/topic1/likeComment" class="d-flex">
                              <p class="mb-0 likesCount"><%- comments[i].likes %></p>
                              <button
                                type="submit"
                                class="voteButton unclicked" />
                                <input
                                  type="hidden"
                                  name="comment_id"
                                  value="<%= comments[i].comment_id %>"
                                />
                                <input
                                  type="hidden"
                                  name="username"
                                  value="<%= user.username %>"
                                />
                                <input type="hidden" name="post_id" value="1" />
                                <img
                                id="fire"
                                  src="../img/fire.png"
                                  alt="vote"
                                  class="fireimg inactive" />
                              </button>
                            </form>
                              <% } %>
                          </div>
                        </div>
                      </div>
                      <% } %> <%# End of template content %>
                    </div>
                    <!-- This is the end of the comment thread -->
                  </div>
                </div>
            <!-- End of comments-->
        </div>
        <!-- End of contents -->
    </main>
    <!-- End of page -->
</div>
<!--Some bootstrap components require these js scripts to function-->
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"
></script>
<script src="../script.js"></script>
</body>
</html>
