<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Singapore Finance Page</title>
    <link href="../style.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <link rel="icon" href="/img/sg_finance_toolkit.png" type="image/x-icon">
    <!--Bootstrap core CSS-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <meta
      name="description"
      content="A finance page covering topics related to finance in Singapore"
    />
    <meta name="keywords" content="angelhack finance singapore" />
    <meta charset="utf-8" />
    <!-- this sets the width of the page to follow screen-width of device, and sets the initial zoom level when page is first loaded-->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <!-- bootstrap requires a containing element to wrap site contents in the grid system-->
    <!-- this creates a responsive full-width page-->
    <div class="container-fluid bootstrap-override">
      <!--NavBar-->
      <nav
        class="navbar navbar-expand-lg navbar-light bg-light sticky-top navbar-override"
      >
        <img src="/img/sg_finance_toolkit.png" alt="SG Finance Toolkit Logo" class="logo-img">
        <a class="navbar-brand" href="/">SG Finance Toolkit</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarTogglerDemo02"
          aria-controls="navbarTogglerDemo02"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="/" onclick="home()">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
          </ul>
        </div>
        <% if (!user) { %>
        <!--Profile pic with link to login.html if user is logged out-->
        <a href="/login">
          <img
            class="float-right profileicon"
            src="../img/profilepic2.png"
            alt=""
            width="47"
            height="40"
          />
        </a>
        <% } else { %>
        <!-- Remove everything in this else block when we have a proper logout and profile icon -->
        <div class="d-flex align-items-center">
          <p class="mb-0" style="margin-right: 5px"><%= user.username %></p>
          <!-- If not logged in show them the signout button (TODO)-->
          <form action="/logout" method="post">
            <input
              class="logout"
              type="image"
              src="../img/icons8-logout-50.png"
              onmouseover="this.src='../img/icons8-logout.gif'"
              onmouseout="this.src='../img/icons8-logout-50.png'"
            />
          </form>
        </div>
        <% } %>
      </nav>
      <!-- End of top navbar-->
      <main id="main">
        <!-- Side navbar, use list items for each topic-->
        <div class="wrapper">
          <nav id="sidebar" class="navbar-light bg-light">
            <a href="#" class="close" onclick="closeSlideMenu()">
              <i class="fa fa-times"></i>
          </a>
            <ul class="list-unstyled components">
              <p id="nav-header">Navigation</p>
              <li class="active">
                <a
                  href="#homeSubmenu"
                  data-bs-toggle="collapse"
                  aria-expanded="false"
                  class="dropdown-toggle"
                  >Basics</a
                >
                <ul class="collapse list-unstyled" id="homeSubmenu">
                  <li>
                    <a href="/topic1" id="budgeting">Basic Financial Literacy 101</a>
                  </li>
                  <li>
                    <a href="/topic2" id="income-and-expenses"
                      >Investing for dummies</a
                    >
                  </li>
                  <li>
                    <a href="/topic3" id="saving">Avoiding scams</a>
                  </li>
                </ul>
              </li>
            </ul>
            <button
              type="button"
              class="btn btn-secondary"
              onclick="backToTop()"
            >
              Back to top
            </button>
          </nav>
        </div>
        <!-- End of side navbar, start of displayed contents-->
        <div class="container-fluid bootstrap-override" id="right-container">
          <span class="slide">
            <a href="#" onclick="openSlideMenu()"><i class="fas fa-bars"></i></a>
          </span>
          <div class="container-fluid m-0 pl-4 pr-4 pt-1" id="content">
            <h2><b>Avoiding scams</b></h2>
            <div class="line"></div>
            <h3>Accept that no one is scam-proof</h3>
            <p>Before you gloss over this topic as you might think that you are smart enough to avoid 
              scams, think again. Scammers have improved their tactics over the years, utilising techniques like social engineering, 
              honey trapping and even automation of the "client generation" phase, and their scams are now more varied which might be 
              able to target vulnerabilities you have that you did not know even existed. Staying ignorant of the manners in which 
              scams might appear is only helping to boost their chances of success since a fool and their money is soon parted. Low scam chance doesn't mean no scam chance and people of all ages
              do get scammed as seen below. 
              <br><br>
              <div class="d-flex justify-content-center"><img style="width:400px" src="img/scam.png"></div>
              <br><br>
              So how do you avoid scams? The first step is building up awareness about the various forms of scams in the first 
              place, so that you can recognise the tell-tale signs of them should they try their luck on you. We will be providing you with
              the "vaccination" against the scams, by distilling how these scams are carried out in the next sections of the topic.
            </p>
            <p></p>  
            <div class="line"></div>

            <h3>The Nigerian prince <img style="width:30px" src="https://preview.redd.it/txju9qyum7i91.png?width=640&crop=smart&auto=webp&v=enabled&s=f19952b8964143155c5f19ebd90afa4e1270e41d"></h3>
            <p>
              Also known as the 419 Scam or the <a href=https://en.wikipedia.org/wiki/Advance-fee_scam>advance-fee scam</a>, the scammer first gains the victims 
              trust before encountering a "problem" and asking for a small loan. The scammer would promise the victim to reward them with a higher return, and continually
              milk the victim until the victim either wisens up or loses all their funds. 
              <br><br>
              Unlike what the name suggests, there need not be a princely figure, just someone that seems trustworthy enough to uphold the promise of returning the money
              back and more. In fact, the following scams are augmented variants of the prince scam archetype - 
            </p>
            <div class="contentStyle">
            <h5>Love scams</h5> 
            <p> The scammer establishes an online "relationship" with the victim on chating or dating platforms, using a fake picture that can probably be reverse image searched.  
              The scammer would then request for a small loan to which the victim usually gives for the chance of a real life romance.   
              Not to be confused with OnlyFans.
              <br>
              Sometimes, they would request for the victim to send them <a href=https://images.deliveryhero.io/image/fd-sg/LH/y9hw-hero.jpg>spicy pics</a> and 
              subsequently, hold the victim hostage by threatening to release said spicy pics if they aren't given money as well.
            </p>
            </div>
            <div class="contentStyle">
            <h5>Crime scams</h5>
            <p>
              You receive a call by the police with a robotic voice saying that you have committed a crime and ... you can hang up the phone right then and there. Local authorities
              will contact you via mail to a registered area of residence. If you are still unsure if the call was real and you somehow unknowingly committed a real crime, head on
              over to the local police station. 
              <br>
              For international students, you are also susceptible to a variant where the scammer would pose as police from the country you are from. Read about this case where
              <a href="https://www.straitstimes.com/singapore/courts-crime/student-loses-over-300k-to-scammers-impersonating-as-china-officials">this international student lost $300,000</a>.
            </p>
            </div>
            <div class="contentStyle">
            <h5>Investment scams</h5>
            <p>You are contacted by someone or added to a chatgroup with someone who claims to know the secrets to beating the markets. In exchange for you placing money with them, they would 
              invest the money and give you double digit or even triple digit returns. After coming from topic 2 about investing, you should be aware that investing is a long journey and if it sounds too 
              good to be true, it is probably a scam (or the risk is super high). Ignore people who claim that they actually profitted as they could be team members planted to add legitimacy to the scam.
             </p>
            </div>
            <p>A simple tip to avoid such scams and whatever variants might form in the future is to simply NOT transfer money, unless the transferee identities can be
              verified and you can ascertain that their reason is legitimate. This does not apply for local authorities as they will not ask for money in any shape or form. </p>
            <div class="line"></div>
            <h3>Phishing</h3>
            <p> With the rise of digital banking, you might have heard or seen news article about people being scammed by clicking on bogus links and giving scammers their
              banking details on fake websites. Even if you haven't, you would have undoubtedly seen the pop-ups on apps stating that you should always verify that the link that
              you are accessing is the actual one. Ultimately, avoiding this scam is more to deal with avoiding complacency and being careful. Note that scammers are actually
              able to spoof official SMS accounts so do not trust SMS to be fully safe. 
              <br><br>
              Here are some tell tale signs of a link being a phishing attempt and <span style="color:red">1 misleading sign</span> that is not a proof of a legitimate website:
            </p>
            <ul>
              <li>The message body containing the link has bad grammar</li>
              <li>The link to the website looks funky, and the link is subtly <b>mispelled</b> (just like how mispelled is misspelled) </li>
              <li style="color:red">A HTTPS website (with the green padlock) could still be a phishing website</li>
            </ul>
            <p>If you feel very paranoid, manually type in the website name directly, especially with cookies enabled to bring you to the official website.</p>
            <div class="line"></div>
            <h3>I got scammed, what to do?</h3>
            <p>In the off-chance that you do get scammed OR you suspect you got had, contact the police and make a police report. While you are not guaranteed to get your money back, you might be 
              able to recover a portion of it if the scammer gets nabbed. Afterwards, contact your bank as well to freeze your account and credit cards as the funds might 
              not have left your account yet or is able to be frozen in the transferred account. 
            </p>

          </div>
          <!-- End of contents, start of comments-->

          <div class="container-fluid m-0 mt-2 pl-4 pr-4 pt-2" id="comments">
            <div class="line"></div>
            <!-- tell the user they need to login to comment-->
            <% if (!user) { %>
            <textarea
              class="form-control"
              id="commentsBox"
              rows="3"
              placeholder="You have to be logged in to comment..."
              disabled
            ></textarea>
            <button
              type="submit"
              class="btn btn-secondary"
              id="postbtn"
              disabled
            >
              POST COMMENT
            </button>

            <% } else { %>

            <form
              style="margin-bottom: 15px"
              action="/topic3/postComment"
              method="post"
            >
              <textarea
                class="form-control"
                id="commentsBox"
                rows="3"
                maxlength="300"
                placeholder="Leave a comment..."
                name="commentContent"
                required
              ></textarea>
              <!-- This input field represents which subtopic the user is currently on! -->
              <input
                type="hidden"
                id="postDistinguisher"
                name="postDist"
                value="3"
              />
              <% const datetime = new Date(); const conv1 =
                  datetime.toLocaleString("en-SG", {hourCycle: "h23"}); const conv2 =
                  conv1.slice(0, 10).split("/"); const conv3 = conv1.slice(12, 20);
                  const conv4 = conv2[2] + "-" + conv2[1] + "-" + conv2[0] + " " +
                  conv3;%>
              <input
                type="hidden"
                id="dateTracker"
                name="dateTime"
                value="<%=
              conv4 %>"
              />
              <input
                type="hidden"
                id="nameTracker"
                name="userPosted"
                value="<%= user.username %>"
              />
              <button type="submit" class="btn btn-success" id="postbtn">
                POST COMMENT
              </button>
            </form>
            <% } %>
            <div class="d-flex justify-content-between line">
              <p
                style="
                  margin-bottom: 9px;
                  position: relative;
                  top: 10px;
                  border-bottom: 2px solid #00b38f;
                "
              >
                <span><%=comments.length%></span> Comments
              </p>
              <div class="btn-group">
                <% if (!sortingMethod) { %>
                  <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sort By
                  </button>
                  <% } else if (sortingMethod == "newest") {%>
                    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Sorting By: Newest
                    </button>
                  <% } else if (sortingMethod == "oldest") { %>
                    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Sorting By: Oldest
                    </button>
                  <% } else if (sortingMethod == "mostlikes") { %>
                    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Sorting By: Most Likes
                    </button>
                  <% } else { %>
                    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Sorting By: Fewest Likes
                    </button>
                  <% } %>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="/topic3/?sort=newest">Newest</a>
                  <a class="dropdown-item" href="/topic3/?sort=oldest">Oldest</a>
                  <a class="dropdown-item" href="/topic3/?sort=mostlikes">Most Likes</a>
                  <a class="dropdown-item" href="/topic3/?sort=fewestlikes">Fewest Likes</a>
                </div>
              </div>
            </div>
            <!-- Actual comments  -->
            <% var likeSet = new Set();
            if (!likedComments || likedComments.length == 0) {
              //do nothing
            } else {
              for (var i = 0; i < likedComments.length; i++) {
                likeSet.add(likedComments[i].comment_id);
              }
            }
            %>
            <div class="row d-flex justify-content-center">
              <div class="col-md-12 col-lg-10 col-xl-8">
                <% for (var i = 0; i < comments.length; i++) { %>
                <div class="card" style="margin-bottom: 20px">
                  <div class="card-body">
                    <div>
                      <h6 class="fw-bold text-primary mb-1">
                        <%- comments[i].username %>
                      </h6>
                      <p class="text-muted small mb-0">
                        <%- comments[i].time_posted %>
                      </p>
                    </div>
                    <p class="mt-3 mb-4 pb-2"><%- comments[i].content %></p>

                    <div class="d-flex justify-content-end">
                      <% if (!user) { %>
                      <div class="d-flex">
                        <p><%- comments[i].likes %></p>
                        <img
                        id="fire"
                          src="../img/fire.png"
                          onclick="alert('You need to be logged in to like comments!')"
                        />
                      </div>
                      <% } else if (likeSet.has(comments[i].comment_id)) { %>
                        <!-- The user has liked the comment -->
                      <form method="POST" action="/topic3/likeComment" class="d-flex">
                        <p class="mb-0 likesCount"><%- comments[i].likes %></p>
                        <button
                          type="submit"
                          class="voteButton" />
                          <input
                            type="hidden"
                            name="comment_id"
                            value="<%= comments[i].comment_id %>"
                          />
                          <input
                            type="hidden"
                            name="username"
                            value="<%= user.username %>"
                          />
                          <input type="hidden" name="post_id" value="3" />
                          <img
                          id="fire"
                            src="../img/fire.png"
                            alt="vote"
                            class="fireimg" />
                        </button>
                      </form>
                      <% } else { %>
                        <!-- The user has NOT liked the comment -->
                      <form method="POST" action="/topic3/likeComment" class="d-flex">
                        <p class="mb-0 likesCount"><%- comments[i].likes %></p>
                        <button
                          type="submit"
                          class="voteButton unclicked" />
                          <input
                            type="hidden"
                            name="comment_id"
                            value="<%= comments[i].comment_id %>"
                          />
                          <input
                            type="hidden"
                            name="username"
                            value="<%= user.username %>"
                          />
                          <input type="hidden" name="post_id" value="3" />
                          <img
                          id="fire"
                            src="../img/fire.png"
                            alt="vote"
                            class="fireimg inactive" />
                        </button>
                      </form>
                        <% } %>
                    </div>
                  </div>
                </div>
                <% } %> <%# End of template content %>
              </div>
              <!-- This is the end of the comment thread -->
            </div>
          </div>
          <!-- End of comments-->
        </div>
        <!-- End of contents -->
      </main>
      <!-- End of page -->
    </div>
    <!--Some bootstrap components require these js scripts to function-->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>
    <script src="../script.js"></script>
  </body>
</html>
